<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/tabs/productos">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ventas" href="/tabs/ventas">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>POS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reportes" href="/tabs/reportes">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Reportes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="merma" href="/tabs/merma">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Merma</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>